@model Website.Models.ResetPasswordView

@{
    ViewBag.Title = "ChangePassword";
}

<section>
    <div class="container">
        <div class="col-md-10">
            <span class="h2">Change Password</span> - <span class="h5"><a href="/MyPage">MyPage</a></span>
        </div>
    </div>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="ak-dark-section mt-3 p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    <button type="submit" class="btn btn-primary btn-block mt-3">Change Password</button>
                </div>
            </div>
        </div>
    </section>
}