@model Website.Models.BagFilter

@{
    ViewBag.Title = "Bags";
}

<h2>Bags</h2>

<div class="row">
    <div class="card col-12">
        <div class="card-header" data-toggle="collapse" href="#filter-body" aria-expanded="false" aria-controls="filter-body">
            Filters
        </div>
        <div class="card-body collapse" id="filter-body">
            @using (Html.BeginForm())
            {
                <div class="form-row">
                    <hr />
                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.VersionList, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.SelectedVersion, new SelectList(Model.VersionList, "Id", null), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.Quality, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EnumDropDownListFor(model => model.Quality, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.ItemLevel, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.ItemLevel, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.UseLevelRequired, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.UseLevelRequired, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        @Html.LabelFor(model => model.SlotCount, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.SlotCount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Filter" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    @foreach (var bag in Model.Items)
    {
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card text-center mt-3 @bag.Quality.ToString().ToLower()">
                <img class="card-img-top" src="@bag.Image">
                <div class="card-header">
                    @bag.Name
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-12 @bag.Quality.ToString().ToLower()-text">
                                <strong>@bag.Quality</strong>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">Level Required</div>
                            <div class="col-4">@bag.UseLevelRequired</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">Item Level</div>
                            <div class="col-4">@bag.ItemLevel</div>
                        </div>
                    </li>
                </ul>
                <div class="card-body font-weight-light font-italic">
                    @bag.Description
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">SlotCount</div>
                            <div class="col-4"><strong>+ @bag.SlotCount</strong></div>
                        </div>
                    </li>
                    @if (bag.Stats != null)
                    {
                        foreach (var stat in bag.Stats)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">@stat.Type</div>
                                    <div class="col-4"><strong>+ @stat.StatValue</strong></div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
</div>