@model Website.Models.BagFilter

@{
    ViewBag.Title = "Bags";
}

<section>
    <div class="container">
        <h2>Bags</h2>
    </div>
</section>

<section  class="bg-info">
    <div class="container">
        <table class="table">
            <thead>
                <tr class="row" data-toggle="collapse" href="#filter-body" aria-expanded="false" aria-controls="filter-body">
                    <th scope="col" class="col-md-11">
                        Filters
                    </th>
                    <th scope="col" class="col-md-1"></th>
                </tr>
            </thead>
            <tbody id="filter-body" class="collapse">
                <tr class="row">
                    <td class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VersionList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.SelectedVersion, new SelectList(Model.VersionList, "Id", null), new { @class = "form-control" })
                        </div>
                    </td>
                    <td class="col-md-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Quality, htmlAttributes: new { @class = "control-label" })
                            @Html.EnumDropDownListFor(model => model.Quality, new { @class = "form-control" })
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ItemLevel, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ItemLevel, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UseLevelRequired, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UseLevelRequired, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SlotCount, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.SlotCount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                    <td class="offset-md-2 col-md-2">
                        <input type="submit" value="Filter" class="btn btn-default btn-block" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @foreach (var bag in Model.Items)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card text-center mt-3 @bag.Quality.ToString().ToLower()">
                        <img class="card-img-top" src="@bag.Image">
                        <div class="card-header">
                            @bag.Name
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">
                                <div class="row">
                                    <div class="col-12 @bag.Quality.ToString().ToLower()-text">
                                        <strong>@bag.Quality</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Level Required</div>
                                    <div class="col-4">@bag.UseLevelRequired</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Item Level</div>
                                    <div class="col-4">@bag.ItemLevel</div>
                                </div>
                            </li>
                        </ul>
                        <div class="card-body font-weight-light font-italic">
                            @bag.Description
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">SlotCount</div>
                                    <div class="col-4"><strong>+ @bag.SlotCount</strong></div>
                                </div>
                            </li>
                            @if (bag.Stats != null)
                            {
                                foreach (var stat in bag.Stats)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">@stat.Type</div>
                                            <div class="col-4"><strong>+ @stat.StatValue</strong></div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>