@model Website.Models.MarketSlotModel

@{
    ViewBag.Title = "Create";
}

<section>
    <div class="container">
        <h2>Create</h2>
    </div>
</section>

@using (Html.BeginForm())
{
    <section class="p-3">
        <div class="container">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.SelectedServer, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.DropDownListFor(model => model.SelectedServer, new SelectList(DataRepositories.ConfigRepository.GetAll(), "Id", "Name"), new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SelectedServer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Items, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.DropDownListFor(model => model.SelectedItem, new SelectList(Model.Items, "ItemId", "Name"), new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Items, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 mt-1">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 mt-1">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </section>

    <section class="p-3">
        <div class="container">
            <input type="submit" value="<Create>" class="btn btn-block" />
        </div>
    </section>
}