@model Website.Models.Filters.MarketSlotFilter

@{
    ViewBag.Title = "Index";
}

<section>
    <div class="container">
        <h2>Market Items</h2>
    </div>
</section>

@using (Html.BeginForm())
{
    <section class="bg-info">
        <div class="container">
            <table class="table">
                <thead>
                    <tr class="row" data-toggle="collapse" href="#filter-body" aria-expanded="false" aria-controls="filter-body">
                        <th scope="col" class="col-md-11">
                            Filters
                        </th>
                        <th scope="col" class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody id="filter-body" class="collapse">
                    <tr class="row">
                        <td class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SelectedServer, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SelectedServer, new SelectList(Model.Servers, "Id", "Name"), new { @class = "form-control" })
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                            </div>
                        </td>
                        <td class="offset-md-6 col-md-2">
                            <input type="submit" value="Filter" class="btn btn-default btn-block" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
}

<section>
    <div class="container">
        <div class="row">
            @foreach (var slot in Model.Slots)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card text-center mt-3">
                        <div class="card-header">
                            @slot.ItemId
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Quantity</div>
                                    <div class="col-4">@slot.Quantity</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Shard Price</div>
                                    <div class="col-4">@slot.ShardPrice</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-8">Bit Price</div>
                                    <div class="col-4">@slot.BitPrice</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>