@model DataModels.Skills.Book

@{
    ViewBag.Title = "Details";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>@Model.Name</h2>
            </div>
            <div class="col-md-3">
                <strong class="@Model.Quality.ToString().ToLower()-text">@Model.Quality</strong>
            </div>
            <div class="col-md-4 mt-1">
                <div class="row">
                    <div class="col-8">StatCost</div>
                    <div class="col-4"><strong>@Model.EmberCost</strong></div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="row">
                    <div class="col-8">ManaCost</div>
                    <div class="col-4"><strong>@Model.ManaCost</strong></div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="row">
                    <div class="col-8">Cooldown</div>
                    <div class="col-4"><strong>@Model.Cooldown</strong></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="p-2">
    <div class="container">
        <table class="table">
            <thead class="table-borderless">
                <tr>
                    <th>Type</th>
                    <th>BaseValue</th>
                    <th>StatType</th>
                    <th>Ratio</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var insc in Model.Inscriptions)
                {
                    <tr>
                        <td>@insc.Type</td>
                        <td>@insc.BaseValue</td>
                        <td>@insc.StatType</td>
                        <td>@insc.Ratio</td>
                        <td>@insc.Duration</td>
                    </tr>
                    if (insc.IncludeWeaponDamages)
                    {
                        <tr>

                            <td><strong>Weapon Types</strong></td>
                            <td>Damage Ratio</td>
                            <td>@insc.WeaponDamagesRatio</td>
                            <td colspan="2">
                                @foreach (var type in insc.WeaponTypes)
                                {
                                    <span>@type</span>
                                }
                            </td>

                        </tr>
                        if (insc.PreferredWeaponTypes.Count > 0)
                        {
                            <tr>
                                <td><strong>Pref Weapon Types</strong></td>
                                <td>Damage Ratio</td>
                                <td>@insc.PreferredWeaponDamagesRatio</td>
                                <td colspan="2">
                                    @foreach (var type in insc.PreferredWeaponTypes)
                                    {
                                        <span>@type</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</section>

<section class="p-2">
    <div class="container">
        @for (int i = 0; i < 30; ++i)
        {
            <div class="row">
                @for (int j = 0; j < 12; ++j)
                {
                    <div class="col-md-1 test text-center">
                        @if (Model.Talents.Any(t => t.Branch == j && t.Leaf == i))
                        {
                            @Html.Raw('+');
                        }
                    </div>
                }
            </div>
            <div class="row">
                @for (int j = 0; j < 12; ++j)
                {
                <div class="col-md-1 test text-center">
                    @{
                        var talent = Model.Talents.FirstOrDefault(t => t.Branch == j && t.Leaf == i);
                    }
                    @if (talent != null)
                    {
                        if (talent.Unlocks.Any(u => u == DataModels.Skills.TalentUnlock.Left))
                        {
                            @Html.Raw("/");
                        }
                        else
                        {
                            @Html.Raw(".");
                        }
                        if (talent.Unlocks.Any(u => u == DataModels.Skills.TalentUnlock.Next))
                        {
                            @Html.Raw('|');
                        }
                        else
                        {
                            @Html.Raw(".");
                        }
                        if (talent.Unlocks.Any(u => u == DataModels.Skills.TalentUnlock.Right))
                        {
                            @Html.Raw("\\");
                        }
                        else
                        {
                            @Html.Raw(".");
                        }
                    }
                </div>
                }
            </div>
        }
    </div>
</section>

<section class="p-2">
    <div class="container">
        <table class="table">
            <thead class="table-borderless">
                <tr>
                    <th>Branch</th>
                    <th>Leaf</th>
                    <th>TalentPointsRequired</th>
                    <th>TargetInscription</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Unlocks</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var talent in Model.Talents)
                {
                    <tr>
                        <td>@talent.Branch</td>
                        <td>@talent.Leaf</td>
                        <td>@talent.TalentPointsRequired</td>
                        <td>@Model.Inscriptions.FirstOrDefault(i => i.Id.Equals(talent.TargetInscription)).Type</td>
                        <td>@talent.Type</td>
                        <td>@talent.Value</td>
                        <td>
                            @foreach (var unlock in talent.Unlocks)
                            {
                                <span>@unlock</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@if (User.IsInRole("SuperAdmin"))
{
    <section class="@(Model.Inscriptions.Count % 2 == 0 ? "bg-dark" : "") p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @if (Model.Talents.Count > 0)
                    {
                        @Html.ActionLink("<Talents>", "Edit", "Talents", new { id = Model.Vid }, new { @class = "btn btn-block" })
                    }
                    else
                    {
                        @Html.ActionLink("<Talents>", "Create", "Talents", new { id = Model.Vid }, new { @class = "btn btn-block" })
                    }
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("<Edit>", "Edit", new { id = Model.Vid }, new { @class = "btn btn-block" })
                </div>
            </div>
        </div>
    </section>
}

<style>
    .test {
        color: red;
    }
</style>
