@model DataModels.Skills.Book

@{
    ViewBag.Title = "Details";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>@Model.Name</h2>
            </div>
            <div class="col-md-3">
                <strong class="@Model.Quality.ToString().ToLower()-text">@Model.Quality</strong>
            </div>
        </div>
    </div>
</section>

@foreach (var pageIt in Model.Pages.OrderBy(p => p.Rank).Select((value, index) => new { index, value }))
{
    var page = pageIt.value;

    <section class="@(pageIt.index % 2 == 0 ? "ak-dark-section" : "") p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">Rank</div>
                                            <div class="col-4"><strong>@page.Rank</strong></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">StatCost</div>
                                            <div class="col-4"><strong>@page.EmberCost</strong></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">ManaCost</div>
                                            <div class="col-4"><strong>@page.ManaCost</strong></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">Cooldown</div>
                                            <div class="col-4"><strong>@page.Cooldown</strong></div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="card-img-bottom" src="@page.Image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 text-center font-weight-bold p-2">
                            @page.Description
                        </div>
                    </div>
                    <div class="row">

                        @if (page.Inscriptions != null)
                        {
                            foreach (var insc in page.Inscriptions)
                            {
                                <div class="col-md-4">
                                    <div class="card">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-6 font-weight-bold">
                                                        Type
                                                    </div>
                                                    <div class="col-md-6">
                                                        @insc.Type
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-8 font-weight-bold">
                                                        BaseValue
                                                    </div>
                                                    <div class="col-md-4">
                                                        @insc.BaseValue
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-6 font-weight-bold">
                                                        StatType
                                                    </div>
                                                    <div class="col-md-6">
                                                        @insc.StatType
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-8 font-weight-bold">
                                                        Ratio
                                                    </div>
                                                    <div class="col-md-4">
                                                        @insc.Ratio
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-md-8 font-weight-bold">
                                                        Duration
                                                    </div>
                                                    <div class="col-md-4">
                                                        @insc.Duration
                                                    </div>
                                                </div>
                                            </li>

                                            @if (@insc.IncludeWeaponDamages)
                                            {
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <strong>Weapon Types</strong>
                                                        </div>

                                                        <div class="col-md-8">Damage Ratio</div>
                                                        <div class="col-md-4">@insc.WeaponDamagesRatio</div>

                                                        @foreach (var type in insc.WeaponTypes)
                                                        {
                                                            <div class="col-md-12 text-center">
                                                                @type
                                                            </div>
                                                        }

                                                    </div>
                                                </li>

                                                if (insc.PreferredWeaponTypes.Count > 0)
                                                {
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                <strong>Pref Weapon Types</strong>
                                                            </div>
                                                            <div class="col-md-8">Preff Damage Ratio</div>
                                                            <div class="col-md-4">@insc.PreferredWeaponDamagesRatio</div>
                                                            @foreach (var type in insc.PreferredWeaponTypes)
                                                            {
                                                                <div class="col-md-12 text-center">
                                                                    @type
                                                                </div>
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </section>
}

@if (User.IsInRole("SuperAdmin"))
{
    <section class="@(Model.Pages.Count % 2 == 0 ? "bg-dark" : "") p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }, new { @class = "btn btn-block btn-primary" })
                </div>
            </div>
        </div>
    </section>
}
