@model Website.Models.Filters.ItemFilter

@{
    ViewBag.Title = "Items";
}

@using (Html.BeginForm())
{
    <section class="p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="input-group-append">
                            <input type="submit" value="Search" class="btn btn-primary btn-block" />
                            <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="collapse" data-target="#filter-body" aria-expanded="false" aria-controls="filter-body">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-info collapse p-2" id="filter-body">
        <div class="container">
            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.SelectedVersion, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.DropDownListFor(model => model.SelectedVersion, new SelectList(DataRepositories.VersionRepository.GetAll(), "Id", null), new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Quality, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EnumDropDownListFor(model => model.Quality, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.Slot, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EnumDropDownListFor(model => model.Slot, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.ItemLevel, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EditorFor(model => model.ItemLevel, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            @Html.LabelFor(model => model.UseLevelRequired, htmlAttributes: new { @class = "input-group-text" })
                        </div>
                        @Html.EditorFor(model => model.UseLevelRequired, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="offset-md-10 col-md-2">
                    <input type="submit" value="Filter" class="btn btn-default btn-block" />
                </div>
            </div>
        </div>
    </section>
}

<section>
    <div class="container">
        <div class="row">
                @foreach (var item in Model.Items)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card text-center mt-3 @item.Quality.ToString().ToLower() card-dark">
                            <div class="card-header">
                                @item.Name
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6 @item.Quality.ToString().ToLower()-text">
                                            <strong>@item.Quality</strong>
                                        </div>
                                        <div class="col-6">@item.Slot</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8">Level Required</div>
                                        <div class="col-4">@item.UseLevelRequired</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8">Item Level</div>
                                        <div class="col-4">@item.ItemLevel</div>
                                    </div>
                                </li>
                                @if (item.Type == DataModels.Items.ItemType.Armor)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">Armor</div>
                                            <div class="col-4">@item.ArmorValue</div>
                                        </div>
                                    </li>
                                }
                                else if (item.Type == DataModels.Items.ItemType.Bag)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">Slot Count</div>
                                            <div class="col-4">@item.SlotCount</div>
                                        </div>
                                    </li>
                                }
                                else if (item.Type != DataModels.Items.ItemType.Consumable 
                                    && item.Type != DataModels.Items.ItemType.CraftingMaterial
                                    && item.Type != DataModels.Items.ItemType.Enchant
                                    && item.Type != DataModels.Items.ItemType.Gem)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">Min Damages</div>
                                            <div class="col-4">@item.MinDamages</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">Max Damages</div>
                                            <div class="col-4">@item.MaxDamages</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="card-body font-weight-light font-italic">
                                @item.Description
                            </div>
                            <ul class="list-group list-group-flush">
                                @if (item.Stats != null)
                                {
                                    foreach (var stat in item.Stats)
                                    {
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-8">@stat.Type</div>
                                                <div class="col-4"><strong>+ @stat.StatValue</strong></div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <div class="card-footer">
                                    @Html.ActionLink("<Edit>", "Edit", new { id = item.Id }, new { @class = "btn btn-block" })
                                </div>
                            }
                        </div>
                    </div>
                }
        </div>

    </div>
</section>