@model List<DataModels.Items.Armor>

@{
    ViewBag.Title = "Armors";
}

<h2>Armors</h2>

<div class="row">
    <div class="card-deck">
        @{int i = 0;}
        @foreach (var armor in Model)
        {
            <div class="card text-center mt-3 @armor.Quality.ToString().ToLower()">
                <img class="card-img-top" src="@armor.Image">
                <div class="card-header">
                    @armor.Name
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-6 @armor.Quality.ToString().ToLower()-text">
                            @armor.Quality
                        </div>
                        <div class="col-6">@armor.Part</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">Level Required</div>
                        <div class="col-4">@armor.UseLevelRequired</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">Item Level</div>
                        <div class="col-4">@armor.ItemLevel</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">Armor</div>
                        <div class="col-4">@armor.ArmorValue</div>
                    </div>
                </li>
            </ul>
            <div class="card-body font-weight-light font-italic">
                @armor.Description
            </div>
            <ul class="list-group list-group-flush">
                @if (armor.Stats != null)
                {
                    foreach (var stat in armor.Stats)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-8">@stat.Type</div>
                                <div class="col-4"><strong>+ @stat.StatValue</strong></div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>

        if (i > 0)
        {
            if (i % 4 == 0)
            {
        <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
            }
            if (i % 3 == 0)
            {
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
            }
            if (i % 2 == 0)
            {
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            }
            if (i % 1 == 0)
            {
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
            }
        }
        ++i;
    }
    </div>
</div>